In [16]:
import pandas as pd

In [17]:
#This first csv contains way more data columns related to diabetes, life expectancy etc.than needed and is super huge; the one that is uncommented contains very precise data
#df = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")
df = pd.read_csv("https://covid.ourworldindata.org/data/ecdc/full_data.csv")
countries = pd.read_csv("countries.csv")

In [18]:
a = countries['name'].unique().tolist()
b = df['location'].unique().tolist()


exclude_list = [i for i in b if i not in a]

#only including the countries for which we have the lat and long for
for i in exclude_list:
    df = df[df['location'] != i]

In [19]:
#getting the lat and long for the countries
lat = [countries[countries['name'] == i]['latitude'].item() for i in df['location']]
long = [countries[countries['name'] == i]['longitude'].item() for i in df['location']]

C:\Users\sakth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: `item` has been deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.
C:\Users\sakth\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `item` has been deprecated and will be removed in a future version

In [20]:
#accordingly appending it in our df 
df['Long'] = long
df['Lat'] = lat

In [21]:
df

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths,Long,Lat
0,2019-12-31,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,67.709953,33.939110
1,2020-01-01,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,67.709953,33.939110
2,2020-01-02,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,67.709953,33.939110
3,2020-01-03,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,67.709953,33.939110
4,2020-01-04,Afghanistan,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,67.709953,33.939110
...,...,...,...,...,...,...,...,...,...,...,...,...
36953,2020-08-11,Zimbabwe,99.0,0.0,4748.0,104.0,673.0,24.0,2044.0,68.0,29.154857,-19.015438
36954,2020-08-12,Zimbabwe,70.0,0.0,4818.0,104.0,597.0,23.0,2001.0,64.0,29.154857,-19.015438
36955,2020-08-13,Zimbabwe,75.0,18.0,4893.0,122.0,554.0,38.0,2014.0,81.0,29.154857,-19.015438
36956,2020-08-14,Zimbabwe,97.0,6.0,4990.0,128.0,595.0,31.0,1898.0,75.0,29.154857,-19.015438
36957,2020-08-15,Zimbabwe,82.0,0.0,5072.0,128.0,621.0,26.0,1903.0,61.0,29.154857,-19.015438